@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(/bg.png);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* Custom dark mode scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #555; /* Darker track for dark mode */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #121212; /* Darker thumb for dark mode */
	border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #242424; /* Slightly lighter thumb on hover */
}

/* Firefox scrollbar styles */
.custom-scrollbar {
	scrollbar-width: thin; /* "auto" or "thin" */
	scrollbar-color: #121212 #555; /* thumb color and track color */
}
